* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myBtnScrol {
    display: none;
    position: fixed;
    z-index: 99;
    border: none;
    outline: none;
    background: #ec1c23 none repeat scroll 0 0;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    bottom: 15px;
    height: 40px;
    line-height: 45px;
    right: 15px;
    transition: all 0.3s ease 0s;
    width: 40px;
    // &:hover {
    //     animation: 800ms linear 0s normal none infinite running scroll-top;
    //     bottom: 0;
    //     height: 100%;
    //     left: 0;
    //     margin-bottom: -25px;
    //     position: absolute;
    //     width: 100%;
    // }
    i {
        font-size: 16px;
        font-weight: 600;
    }

    #myBtnScrol:hover {
        background-color: #555;
    }
}

header {
    .top {
        background: #ec1c23;
        position: relative;
        &::before {
            background: #fff none repeat scroll 0 0;
            content: "";
            height: 105px;
            position: absolute;
            right: 38%;
            top: -18px;
            transform: rotate(-45deg);
            width: 8px;
            z-index: 1;
        }
        &::after {
            background: #2c2b5e;
            position: absolute;
            right: 0;
            top: 0;
            content: "";
            height: 100%;
            width: 36%;
        }
        .header-top-left {
            p {
                font-size: 14px;
                font-weight: 600;
                font-family: "Open Sans", sans-serif;
                color: #fff;
                text-transform: uppercase;
                line-height: 68px;
                position: relative;
                z-index: 1;
            }
        }
        .header-top-right {
            z-index: 999;
            position: relative;
           
            &::before {
                background: #2c2b5e none repeat scroll 0 0;
                content: "";
                height: 100px;
                left: -16%;
                position: absolute;
                top: -38px;
                transform: rotate(-45deg);
                width: 60px;
            }
            ul {
                list-style: none;
                text-align: end;
                li {
                    display: inline-block;
                    margin-right: 38px;
                    a {
                        font-size: 14px;
                        font-weight: 600;
                        font-family: "Open Sans", sans-serif;
                        color: #fff;
                        line-height: 68px;
                        position: relative;
                        z-index: 1;
                        text-decoration: none;
                        transition: 0.5 ease;
                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }
    }
  
    #nav {
        .container {
            .row {
                .nav-logo {
                    // padding: 40px 0 33px;
                    display: inline-block;
                    transition: all 0.3s ease-out 0s;
                    height: auto;
                    img {
                        width: 100%;
                        padding: 40px 0 33px;
                    }
                }
                .main-menu {
                    text-align: right;
                    .menu {
                        display: inline-block;
                        .menu-content {
                            ul {
                                list-style: outside none none;
                                margin: 0;
                                padding: 0;
                                li {
                                    list-style: none;
                                    display: inline-block;
                                    position: relative;
                                    transition: 0.5s ease;
                                    &:hover {
                                        .custom-dropDown {
                                            display: block;
                                        }
                                    }
                                    a {
                                        color: #303030;
                                        font-size: 16px;
                                        line-height: 130px;
                                        display: inline-block;
                                        font-family: "Open Sans", sans-serif;
                                        padding: 0 14px;
                                        position: relative;
                                        text-transform: uppercase;
                                        transition: all 0.4s ease 0s;
                                        text-decoration: none;
                                    }
                                    .custom-dropDown {
                                        background: #ffffff none repeat scroll 0 0;
                                        left: 0;
                                        padding: 10px 18px;
                                        position: absolute;
                                        text-align: left;
                                        top: 100%;
                                        transition: all 0.3s ease 0s;
                                        display: none;
                                        width: 185px;
                                        z-index: 999;
                                        box-shadow: 1px 3px 7px #8a8a8a;
                                        li {
                                            display: block;
                                            margin: 0;
                                            padding: 7px 0;
                                            position: relative;
                                            list-style: none;
                                            a {
                                                text-decoration: none;
                                                color: #252525;
                                                display: block;
                                                font-size: 14px;
                                                line-height: 26px;
                                                padding: 0;
                                                transition: all 0.5s ease 0s;

                                                text-transform: capitalize;
                                                &:hover {
                                                    color: red;
                                                    padding-left: 9px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .search-btn {
                        cursor: pointer;
                        display: inline-block;
                        margin-left: 28px;
                        position: relative;
                        top: -2px;
                        .toggle {
                            list-style: outside none none;
                            margin: 0;
                            padding: 0;
                           
                            .search-menu {
                                background: #2c2b5e none repeat scroll 0 0;
                                border-radius: 50%;
                                color: #fff;
                                display: inline-block;
                                height: 31px;
                                position: relative;
                                text-align: center;
                                transition: all 0.5s ease 0s;
                                width: 31px;
                                line-height: 25px;
                                &:hover{
                                   background-color: red;
                                }
                                i {
                                    font-size: 12px;
                                    line-height: 30px;
                                    display: inline-block;
                                }
                            }
                        }
                        .seacrh {
                            background: #ffffff none repeat scroll 0 0;
                            box-shadow: 0 1px 3px rgb(204, 202, 202);
                            // opacity: 0;
                            display: none;
                            position: absolute;
                            right: 0;
                            top: 79px;
                            height: 40px;
                            -webkit-transition: all 0.5s ease 0s;
                            transition: all 0.5s ease 0s;
                            // visibility: hidden;
                            width: 216px;
                            z-index: 9999;

                            .search-form {
                                form {
                                    input {
                                        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                                        border: 2px solid #cacaca;
                                        color: #252525;
                                        height: 40px;
                                        padding: 0 40px 0 10px;
                                        width: 100%;
                                        transition: all 0.5s ease-out 0s;
                                    }
                                    button {
                                        background: #2c2b5e none repeat scroll 0 0;
                                        border: 2px solid #c5c596;
                                        color: #ffffff;
                                        font-size: 15px;
                                        height: 100%;
                                        padding: 0;
                                        position: absolute;
                                        right: 0;
                                        top: 0;
                                        width: 43px;
                                        span {
                                            i {
                                                display: inline-block;
                                                font: normal normal normal 14px/1 FontAwesome;
                                                font-size: inherit;
                                                text-rendering: auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .menu-items {
                        display: none;
                    }
                }
                .linksResponsive {
                    display: none;
                    // background: lightslategray;
                    box-shadow: rgb(160, 160, 160);
                    max-height: 320px;
                    overflow: scroll;
                    .links-downSearch {
                        i {
                            display: none;
                        }
                    }
                    .links-down {
                        position: relative;
                        color: black;
                        padding: 0px 25px;

                        a {
                            display: block;
                            border-top: 1px solid rgba(0, 0, 0, 0.5);
                            border-left: 1px solid rgba(0, 0, 0, 0.5);
                            border-right: 1px solid rgba(0, 0, 0, 0.5);
                        }
                        .drop-downlUl {
                            .dropdown {
                                background-color: #2c2b5e;
                                padding: 8px 132px 8px 10px;
                                display: block;
                                border: 5px;
                                position: relative;
                                top: 0;
                                text-decoration: none;
                                list-style: none;
                                display: none;
                                li {
                                    &:hover {
                                        background-color: rgb(73, 73, 73);
                                    }
                                    a {
                                        color: #bdbdbd;
                                        font-size: 16px;
                                        padding: 10px 15px;
                                        border: none;
                                        display: block;
                                        -webkit-transition: all 0.15s ease-in-out;
                                        transition: all 0.15s ease-in-out;
                                        &:hover {
                                            color: white;
                                        }
                                    }
                                }
                                .drop-downlUl {
                                    .dropdown {
                                        li {
                                            a {
                                                &:hover {
                                                    background: red;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .dropdownB {
                                background-color: #2c2b5e;
                                padding: 8px 132px 8px 10px;
                                display: block;
                                border: 5px;
                                position: relative;
                                top: 0;
                                text-decoration: none;
                                list-style: none;
                                display: none;
                                li {
                                    &:hover {
                                        background-color: rgb(73, 73, 73);
                                    }
                                    a {
                                        color: #bdbdbd;
                                        font-size: 16px;
                                        padding: 10px 15px;
                                        border: none !important;

                                        display: block;
                                        -webkit-transition: all 0.15s ease-in-out;
                                        transition: all 0.15s ease-in-out;
                                        &:hover {
                                            color: white;
                                        }
                                    }
                                }
                                .drop-downlUl {
                                    .dropdownB {
                                        li {
                                            a {
                                                &:hover {
                                                    color: red;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            i {
                                font-size: 16px;
                                background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
                                border-color: currentcolor currentcolor rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.7);
                                -o-border-image: none;
                                border-image: none;
                                border-style: none none solid solid;
                                border-width: medium medium 1px 1px;
                                font-weight: 700;
                                height: 40px;
                                line-height: 21px;
                                margin-top: 1px;
                                padding: 11.5px 13px;
                                position: absolute;
                                right: 36px;
                                text-align: center;
                                top: 0;
                                width: 39px;
                                z-index: 2;
                                margin-right: -9px;
                            }
                        }

                        i {
                            transition: all 0.45s ease-in-out;

                            cursor: pointer;
                            &:hover {
                                color: white;
                                background-color: black;
                            }
                        }
                        .linksdownA {
                            transition: all 0.45s ease-in-out;
                            color: black;
                            text-decoration: none;
                            list-style: none;

                            &:hover {
                                background: rgb(255, 102, 0);
                            }
                            padding: 12px 13px;
                            font-weight: 500;
                            font-size: 15px;
                            i {
                                font-size: 10px;
                            }
                        }
                        .linksdownB {
                            transition: all 0.45s ease-in-out;
                            color: black;
                            text-decoration: none;
                            list-style: none;

                            &:hover {
                                background: rgb(255, 102, 0);
                            }
                            padding: 12px 13px;
                            font-weight: 500;
                            font-size: 15px;
                            i {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.banner-area {
    &::after {
        background: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
    }
    padding: 135px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 250px;
    background: rgba(0, 0, 0, 0) url(image/banner.jpg) no-repeat scroll center center / cover;
    position: relative;
    width: 100%;
    z-index: 1;
    .content {
        text-align: center;
        h2 {
            font-size: 40px;
            color: #fff;
            font-weight: 700;
            z-index: 1;
            position: relative;
        }
    }
}
#eduhHme {
    padding-top: 150px;
    padding-bottom: 155px;
    .about-content {
        p {
            font-size: 14px;
            color: #606060;
            margin-bottom: 10px;
            line-height: 24px;
        }
        h2 {
            font-size: 34px;
            color: #303030;
            font-weight: 700;
            margin-top: 100px;
            margin-bottom: 10px;
            span {
                color: red;
            }
        }
        .view {
            margin-top: 40px;
            a {
                margin-top: 25px;
                padding: 14px 44px;
                -webkit-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
                text-decoration: none;
                background: #ec1c23;
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                &:hover {
                    color: #fff;
                    background: #2c2b5e;
                }
            }
        }
    }
    .picture {
        position: relative;
        &::before {
            position: absolute;
            border: 10px solid #ebebeb;
            /* left: 624px; */
            bottom: -10px;
            width: 105%;
            content: "";
            height: 88%;
            z-index: -1;
            left: -12px;
        }
        img {
            max-width: 100%;
            -webkit-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            height: auto;
        }
    }
}
#meetOurT {
    padding-bottom: 150px;
    .title {
        text-align: center;
        font-size: 34px;
        color: #2c2b5e;
        font-weight: 700;
        margin-bottom: 62px;
        .titleLog {
            img {
            }
            h2 {
            }
        }
    }
    .singleTeach {
        cursor: pointer;
        box-shadow: 0px 0px 6px 0px rgb(156, 156, 156);
        overflow: hidden;
        transition: all 0.5s ease-in-out 0s;
        &:hover {
            .picture {
                &::after {
                    opacity: 1;
                }
            }
        }
        &:hover {
            .content {
                transition: all 0.5s ease 0s;
                bottom: 67px;
                opacity: 1;
            }
        }
        .picture {
            transition: all 0.3s ease-out 0s;

            position: relative;

            img {
                max-width: 100%;
                -webkit-transition: all 0.3s ease-out 0s;
                transition: all 0.3s ease-out 0s;
                height: auto;
            }
            &::after {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                content: "";
                background: rgba(231, 231, 231, 0.84);
                opacity: 0;
                -webkit-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
            }
        }

        .content {
            transition: all 0.5s ease-in-out 0s;
            margin: 0;
            padding: 1px;
            text-align: center;
            background: #fff none repeat scroll 0 0;
            position: relative;

            h2 {
                color: #303030;
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 3px;
            }
            h4 {
                color: #929292;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 20px;
            }
            ul {
                transition: all 0.5s ease 0s;
                list-style: none;
                position: absolute;

                li {
                    display: inline-block;
                    margin-right: 5px;
                    a {
                        color: #606060;
                        transition: all 0.3s ease 0s;
                        text-decoration: none;

                        i {
                            font-size: 15px;
                            color: #2c2b5e;
                            background: #f6f6f6;
                            height: 40px;
                            width: 38px;
                            text-align: center;
                            line-height: 40px;
                            -webkit-transition: all 0.5s ease 0s;
                            -o-transition: all 0.5s ease 0s;
                            transition: all 0.5s ease 0s;
                            &:hover {
                                background-color: red;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

#video {
    padding-bottom: 100px;
    padding-top: 140px;
    .container {
        .row {
            .part-video {
                h3 {
                    margin-bottom: 33px;
                    font-size: 28px;
                    color: #2c2b5e;
                    font-weight: 600;
                }

                .notice-video {
                    background-image: url("http://preview.hasthemes.com/eduhome/img/notice/video.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: relative;
                    height: 382px;
                    width: 100%;
                    // position: absolute;
                    &::after {
                        background: rgba(44, 43, 94, 0.9);
                        position: absolute;
                        content: " ";
                        width: 100%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                    }
                    .icon {
                        position: absolute;
                        top: 50%;
                        bottom: 50%;
                        z-index: 1;
                        left: 50%;
                        cursor: pointer;
                        &:hover {
                            i {
                                color: red;
                            }
                        }

                        i {
                            font-size: 22px;
                            color: #2b2a5a;
                            background: #ffffff;
                            height: 55px;
                            width: 55px;
                            border-radius: 50%;
                            line-height: 56px;
                            text-align: center;
                            transition: all 0.5s ease 0s;
                            cursor: pointer;
                        }
                    }
                }
            }
            .notice {
                h3 {
                    margin-bottom: 33px;
                    color: #2c2b5e;
                    font-size: 28px;
                    font-family: "Open Sans", sans-serif;
                    text-transform: uppercase;
                    font-weight: 700;
                }
                .notice-leftComma {
                    padding: 33px 58px 31px;
                    height: 380px;
                    box-shadow: 0px 0px 6px 0px rgb(206, 205, 205);
                    position: relative;
                    overflow: scroll;

                    .notice-left {
                        border-bottom: 1px solid #e7e7e7;
                        padding-bottom: 20px;
                        margin-bottom: 23px;
                        h4 {
                            font-family: "Open Sans", sans-serif;
                            font-weight: 700;
                            font-size: 16px;
                            color: #ec1c23;
                            margin-bottom: 6px;
                        }

                        p {
                            font-family: "Open Sans", sans-serif;
                            font-size: 14px;
                            color: #303030;
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}

.getVideo {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    height: 100;
    z-index: 999;
    z-index: 1042;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    display: none;

    .Iframe {

        iframe {
            box-shadow: 0 0 8px rgb(160, 160, 160);
        }
    }
    .icon-video {
        position: relative;
        i {
            position: absolute;
            bottom: 162px;
            right: -20px;
            font-size: 18px;
            cursor: pointer;
            transition: all 0.5s linear;
            &:hover {
                color: white;
            }
        }
    }
}

#subscribe {
    padding-bottom: 70px;
    background: #fafafa;
    .container {
        .row {
            .title {
                text-align: center;
                p {
                    color: #606060;
                    font-family: "Open Sans", sans-serif;
                    margin-bottom: 25px;
                    font-size: 14px;
                    line-height: 24px;
                }
                h2 {
                    margin-bottom: 5px;
                    // font-size: 34px;
                    color: #2c2b5e;
                    font-weight: 700;
                    font-family: "Open Sans", sans-serif;
                    text-transform: uppercase;
                }
            }
            .enter-add {
                text-align: center;
                input {
                    border: 1px solid #e1e1e1;
                    width: 58%;
                    background: transparent;
                    padding: 13px 30px;
                }
                button {
                    padding: 11px 30px 12px;
                    position: relative;
                    right: 5px;
                    bottom: 1px;
                    color: white;
                    border: none;
                    font-size: 16px;
                    height: 51px;
                    background: #ec1c23;
                    font-weight: 700;
                    transition: 0.5s ease;
                    &:hover {
                        background: #2c2b5e;
                    }
                }
            }
        }
    }
}

footer {
    .footer-area {
        padding-bottom: 104px;
        padding-top: 117px;
        .picMix {
            padding-right: 60px;
            .picture {
                padding-bottom: 25px;
                img {
                    max-width: 100%;
                    -webkit-transition: all 0.3s ease-out 0s;
                    transition: all 0.3s ease-out 0s;
                    height: auto;
                }
            }
            p {
                color: #7d7d7d;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 23px;
                margin-bottom: 15px;
            }
            .socail {
                ul {
                    margin-top: 25px;
                    display: flex;
                    margin-left: -28px;
                    li {
                        color: #7d7d7d;
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 16px;
                        list-style: none;
                        margin-right: 15px;
                        a {
                            border: 1px solid #dadada;
                            color: #7d7d7d;
                            height: 28px;
                            width: 27px;
                            border-radius: 50%;
                            display: block;
                            text-align: center;
                            line-height: 26px;
                            -webkit-transition: all 0.5s ease 0s;
                            -o-transition: all 0.5s ease 0s;
                            transition: all 0.5s ease 0s;
                            text-decoration: none;
                            &:hover {
                                background: red;
                                color: white;
                            }
                            i {
                            }
                        }
                    }
                }
            }
        }
        .information {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            h3 {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                font-family: "Open Sans", sans-serif;
                color: #606060;
                margin-bottom: 45px;
                position: relative;
                &::before {
                    background: #606060 none repeat scroll 0 0;
                    bottom: -13px;
                    content: "";
                    height: 1px;
                    left: 0;
                    position: absolute;
                    width: 45px;
                }
                &::after {
                    background: #606060 none repeat scroll 0 0;
                    bottom: -10px;
                    content: "";
                    height: 1px;
                    left: 0;
                    position: absolute;
                    width: 57px;
                }
            }
            .inform {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    color: #7d7d7d;
                    font-family: "Open Sans", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 16px;
                    text-transform: capitalize;
                    a {
                        text-decoration: none;
                        color: #606060;
                        -webkit-transition: all 0.3s ease 0s;
                        transition: all 0.3s ease 0s;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
        #touch-col {
            padding-left: 70px;
            .touch {
                h3 {

                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: "Open Sans", sans-serif;
                    color: #606060;
                    margin-bottom: 45px;
                    position: relative;
                    &::before {
                        background: #606060 none repeat scroll 0 0;
                        bottom: -13px;
                        content: "";
                        height: 1px;
                        left: 0;
                        position: absolute;
                        width: 45px;
                    }
                    &::after {
                        background: #606060 none repeat scroll 0 0;
                        bottom: -10px;
                        content: "";
                        height: 1px;
                        left: 0;
                        position: absolute;
                        width: 57px;
                    }
                }
                p {
                    color: #7d7d7d;
                    font-family: "Open Sans", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 23px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .footer-bottom {
        background: #2c2b5e;
        p {
            text-align: center;
            color: #c7c7c7;
            font-size: 14px;
            line-height: 60px;
            margin-bottom: 2px;
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                -webkit-transition: all 0.5s ease 0s;
                -o-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    footer {
        .footer-area {
            padding-left: 15px;
            padding-right: 15px;
            #touch-col {
                padding-left: 0;
                .touch {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    #subscribe {
        .container {
            .row {
                .title {
                    h2 {
                        font-size: 33px;
                    }
                    p {
                    }
                }
                .enter-add {
                    form {
                        display: grid;
                        input {
                            position: relative;
                            width: 100%;
                            right: 5px;
                        }
                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 550px) {
    #subscribe {
        .container {
            .row {
                .title {
                    p {
                    }
                    h2 {
                        font-size: 29px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    #video {
        .container {
            .row {
                .part-video {
                    padding-bottom: 50px !important;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #meetOurT {
        .container {
        }
    }
}
@media (min-width: 570px) and (max-width: 996px) {
    #eduhHme {
        .container {
            .row {
                .about-content {
                    .hidden-sm {
                        display: none !important;
                    }
                }
            }
        }
    }
    #meetOurT {
        .container {
            #hidden-sm {
                display: none !important;
            }
        }
    }
}
@media (max-width: 576px) {
    #meetOurT {
        .container {
            .row {
                .singleTeach {
                    .picture {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    #meetOurT {
        padding-bottom: 10px !important;
        .container {
            .row {
                .singleTeach {
                    // line-height: 0;
                    // padding-bottom: 91px;
                    .picture {
                        width: 100%;

                        img {
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #nav {
        .container {
            .row {
                .nav-logo {
                    img {
                    }
                }
                .main-menu {
                    .menu {
                        .menu-content {
                            ul {
                                li {
                                    a {
                                        font-size: 14px !important;
                                        padding: 0 7px !important;
                                    }
                                    .custom-dropDown {
                                        li {
                                            a {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 760px) and (max-width: 992px) {
    #nav {
        .container {
            .row {
                .nav-logo {
                    img {
                    }
                }
                .main-menu {
                    .menu {
                        .menu-content {
                            ul {
                                li {
                                    a {
                                        font-size: 11px !important;
                                        padding: 0 4px !important;
                                    }
                                    .custom-dropDown {
                                        li {
                                            a {
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
}
@media screen and (max-width: 1000px) {
    #testimonial {
        .container {
            .row {
                .item {
                    img {
                        width: 13%;
                    }
                    .content {
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    #testimonial {
        .container {
            .row {
                .item {
                    img {
                        width: 14%;
                    }
                    .content {
                        padding: 20px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    main {
        #mainSilder {
            .carousel-inner {
                .carousel-item {
                    .slider-content {
                        .txt {
                            h2 {
                                font-size: 37px !important;
                                line-height: 45px !important;
                            }
                            p {
                                margin-top: 12px !important;
                                font-size: 17px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    #subscribe {
        .container {
            .row {
                .title {
                    h2 {
                        font-size: 33px;
                    }
                    p {
                    }
                }
                .enter-add {
                    form {
                        display: grid;
                        input {
                            position: relative;
                            width: 100%;
                            right: 5px;
                        }
                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 550px) {
    #subscribe {
        .container {
            .row {
                .title {
                    p {
                    }
                    h2 {
                        font-size: 29px;
                    }
                }
            }
        }
    }
    #comming{
        .container{
            .row{
                #commingCol2{
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    header {
        .top {
            &::before {
                display: none;
            }
            &::after {
                width: 100% !important;
            }
            .header-top-left {
                line-height: 45px;
                p {
                    padding: 0;
                    margin: 0;
                    z-index: 999 !important;
                    font-size: 9px !important;
                    text-align: center !important;
                    line-height: 24px !important;
                    margin-top: 10px !important;
                }
            }
            .header-top-right {
                &::before {
                    display: none !important;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    // font-size: 3px;
                    text-align: center !important;
                    line-height: 24px;
                    // margin-top: -11px;
                    // margin-left: 29px;
                    li {
                        margin: 0;
                        a {
                            line-height: 45px;
                            margin-right: -4px;
                            margin-left: 5px;
                            font-size: 11px !important;
                        }
                    }
                }
            }
        }
    }
    #nav {
        .nav-logo {
            display: block !important;
        }
        .main-menu {
            display: none;
            padding: 40px 0 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            .menu {
                .menu-content {
                    display: none;
                }
            }
            .search-btn {
                padding-right: 10px;
                .toggle {
                    .search-menu {
                        padding: 0;
                    }
                }
            }
        }
        .menu-items {
            display: block !important;
            a {
                i {
                    border: 1px solid black;

                    font-size: 32px;
                    color: #2c2b5e;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    // #subscribe {
    //     .custom-form {
    //         form {
    //             button {
    //                 position: relative !important;
    //                 width: 100%;
    //             }
    //         }
    //     }
    //     .custom-title {
    //         h2 {
    //             font-size: 19px !important;
    //         }
    //     }
    // }
    // #main-footer {
    //     .footer-part {
    //         padding-left: 25px;
    //     }
    // }

    
    #eduhHme {
        .container {
            .row {
                #eduCol {
                    width: 100% !important;
                    .picture {
                        padding-top: 37px !important;
                    }
                }
            }
        }
    }
    .courses {
        .container {
            .row {
                #coursesCol {
                    padding-bottom: 30px;
                    width: 100% !important;
                }
                #hidden-sm {
                    padding-bottom: 20px;
                    width: 100% !important;
                }
            }
        }
    }

    #latest {
        .container {
            .row {
                #latestCol {
                    width: 100% !important;
                }
                #hidden-sm {
                    width: 100% !important;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header {
        .top {
            &::before {
                right: 35%;
            }
            &::after {
                width: 32%;
            }
            .header-top-right {
                &::before {
                    left: -16%;
                }
            }
        }
    }
    #teacher {
        .service {
            padding: 20px !important;
        }
    }
    .courses {
        .container {
            .row {
                #hidden-sm {
                    display: none !important;
                }
            }
        }
    }
    #eduhHme {
        .container {
            .row {
                .about-content {
                    h2 {
                        font-size: 22px;
                        margin-top: 0px;
                    }
                }
            }
        }
    }
    #comming {
        .container {
            .row {
                #commingCol {
                    width: 100%;
                   
                }
                #commingCol2{
                    width: 100%;

                }
            }
        }
    }
    #latest {
        .container {
            .row {
                #hidden-sm {
                    display: none !important;
                }
            }
        }
    }
}
@media (min-width: 578px) and (max-width: 768px) {
    #teacher {
        margin-top: 50px;
        margin-bottom: 50px;
        #teachCol {
            margin-bottom: 20px;
            width: 100% !important;
        }
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    #eduhHme {
        .container {
            .row {
                .about-content {
                    h2 {
                        font-size: 25px;
                        margin-bottom: 5px;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 578px) {
    #teacher {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    header {
        .top {
            &::before {
                right: 32.5%;
            }
            &::after {
                width: 30%;
            }
            .header-top-right {
                &::before {
                    left: -4%;
                }
            }
        }
    }
}
@media (min-width: 770px) and (max-width: 1500px) {
    #nav {
        .container {
            .row {
                .col-xs-12 {
                    display: none;
                }
            }
        }
    }
    #teacher {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

