#meetOurT {
    text-align: center;
        font-size: 34px;
        color: #2c2b5e;
        font-weight: 700;
        margin-bottom: 62px;
        background-color: red;
    .title {
        text-align: center;
        font-size: 34px;
        color: #2c2b5e;
        font-weight: 700;
        margin-bottom: 62px;
        .titleLog {
            img {
            }
            h2 {
            }
        }
    }
    .singleTeach{
        background-color: red;

        img{

        }
        .content{
        background-color: red;

            h2{

            }
            h4{

            }
            ul{
                li{
                    a{
                        i{

                        }
                    }
                }
            }
        }
    }
}
